extends _wrapper

block svg
    include /svg/icons

block base
    block header
        header.masthead--cnd.a11y(
            role="banner"
        )
            h1.col--pMiddle--sMiddle
                a.masthead-home.mod-balance(
                    href="/"
                ) 
                    svg.ico-logo
                        use(xlink:href="#sigil")
                    
                    .masthead-title
                        .masthead-title-erin Erin Elizabeth Potter
                        .masthead-title-and &amp;
                        .masthead-title-kent Kent Bulman Hodgson


    block main
        main
            .strata
                header.strata-hdr
                    h1.strata-hed.typ-poster Hotels
                
                dl.iten-list
                    dt.iten-list-hed Hyatt Place Roanoke Airport / Valley View Mall
                    dd
                        div 5040 Valley View Boulevard North
                        div Roanoke, Virginia, USA, 24012
                        div
                            a(href="tel:888-492-8847") 888-492-8847
                    dd
                        dl
                            dt Rates
                            dd starting at $99.00
                            dt Book by
                            dd March 9, 2016
                            dt Group Code
                            dd G-HPWB
                            dt Book room(s) at
                            dd
                                a.co-ctrl.fx-shift(href="http://www.roanoke.place.hyatt.com/en/hotel/home.html?corp_id=G-HPWB", target="_blank") Hyatt Place
                    dt.iten-list-hed Hampton Inn
                    dd
                        dl
                            dt Rates
                            dd $129.00 - $159.00
                            dt Book room(s) at
                            dd
                                a.co-ctrl.fx-shift(href="http://hamptoninn.hilton.com/en/hp/groups/personalized/R/ROARDHX-PHW-20160408/index.jhtml?WT.mc_id=POG", target="_blank") Hampton Inn

                        
    block navigation
        nav.masthead.matrix--pGrid--sStart(role="navigation")
            a.masthead-home.row--pStart--sMiddle(
                href="/"
            )
                svg.ico-logo
                    use(xlink:href="#sigil")
                
                .masthead-title.col--pStart--sMiddle
                    .masthead-title-erin Erin Elizabeth Potter
                    .masthead-title-and &amp;
                    .masthead-title-kent Kent Bulman Hodgson
                        
            .masthead-navbar
                .nav-primary
            
    block extra


    block footer
        footer.colophon.row--pGrid--sMiddle.thm-dark(
            role="contentinfo"
        )
            block footer_nav
                //- :include(navigation/nav_footer)

            //- small.colophon-legal.typ-chrome.co-sec &copy; 2015 &mdash; American Frozen Food Institute        
        


block meta
    != vefa.site_author("Cobey Potter")
    //- != vefa.google_verification("K_ug-qvYWsijRRQskQLFO2bTPiabqX3bnwF7o8QXBs4")
    

block prefetch
    //- link(rel="prefetch", href="/register/")
    //- link(rel="prefetch", href="/schedule/")

block favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/assets/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/favicons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/favicons/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/assets/favicons/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/assets/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/assets/favicons/manifest.json')
    link(rel='mask-icon', href='/assets/favicons/safari-pinned-tab.svg', color='#a4c3b8')
    meta(name='apple-mobile-web-app-title', content='Kent + Erin')
    meta(name='application-name', content='Kent + Erin')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-TileImage', content='/assets/favicons/mstile-144x144.png')
    meta(name='theme-color', content='#a4c3b8')


block css
    link(
        rel="stylesheet"
        href="/assets/css/site.css"
    )
    
    if site.supportIE9
        <!--[if lte IE 9]>
        link(rel="stylesheet", href="/assets/css/site_ie9.css")
        <![endif]-->


block head_js
    script document.createElement( "picture" )
    
    if site.typekit
        script(src="//use.typekit.net/#{site.typekit}.js")
        script try{Typekit.load({async:true});}catch(e){}

    if site.supportIE9 || site.supportIE8
        <!--[if IE 8]>
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        <![endif]-->


block js
    script(src="https://cdn.jsdelivr.net/g/picturefill@3.0.1,lazysizes@1.3.1(plugins/bgset/ls.bgset.min.js+lazysizes.min.js)", async)

    //- if site.angular
    //-     for file in site.angular.dependencies
    //-         script(src="#{file}")
    //-     script(src="/assets/js/app.js")
    
        
        
